:host {
	--background-color: '';
}

#box {
	position: relative;
	background-color: var(--background-color);
	background-blend-mode: color;
	height: 180px;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		mix-blend-mode: color;
		background-color: $mnv-color-primary;
		height: 100%;
		width: 100%;
	}
}

.short-1 {
	.inner-number {
		font-size: 89px;
		margin: -20px 40px 0 40px;
	}
	.inner-text {
		padding: 0 40px 0 40px;
		font-size: 23px;
	}
}

.short-2 {
	.inner-number {
		font-size: 89px;
		margin: -20px 40px 0 40px;
	}
	.inner-text {
		padding: 0 40px 0 40px;
		font-size: 23px;
	}
}

.short-3 {
	.inner-number {
		font-size: 73px;
		margin: -20px 40px 0 40px;
	}
	.inner-text {
		padding: 0 40px 0 40px;
		font-size: 22px;
	}
}

.long {
	.inner-number {
		font-size: 66px;
		margin: -20px 40px 0 40px;
	}
	.inner-text {
		padding: 0 40px 0 40px;
		font-size: 22px;
	}
}

#number {
	min-width: 300px;
	padding: 2px;
	text-align: center;
	font-size: 60px;
	font-family: $mnv-font-alegreya-sans;
	color: $mnv-text-light;
}

#numcontainer {
	margin: 0 -20px 0 -20px;
	padding: 0px;
	justify-content: center;
	&.grid-item {
		padding: 10px;
	}
}
