footer {
	background-color: $mnv-color-primary-dark;
	color: $mnv-text-light;
	width: 100vw;
	position: relative;
	.social {
		* {
			padding-right: 15px;
			
			&:last-child{
				padding-right: 0px;
			}
		}
		img {
			height: 30px;
			filter: invert(100%)
		}
	}
	.address {
		display: flex;
		flex-direction: column;
		//height: 100%;
		//width: 100%;
		ol {
			display: block;
			list-style-type: decimal;
			margin-block-start: 1em;
			margin-block-end: 1em;
			margin-inline-start: 0px;
			margin-inline-end: 0px;
			padding-inline-start: 20px;
			margin: 0 0 1.5em;
			padding: 0;
			counter-reset: item;
		}
		ol > li {
			margin: 0;
			padding: 0 0 0 2em;
			text-indent: -2em;
			list-style-type: none;
			counter-increment: item;
		}

		ol > li:before {
			display: inline-block;
			width: 1em;
			padding-right: 0.5em;
			font-weight: bold;
			text-align: right;
			content: counter(item) '.';
		}
	}
	.address-root {
		justify-content: center;
		flex-direction: column;
		& > * {
			padding: 0;
		}
		@include sm {
			padding: 0 60px 60px 60px;
		}
	}

	@include xl {
		padding: (1.5 * 30) 0px;
	}
	@include lg {
		padding: (1.5 * 27) 0px;
	}
	@include md {
		padding: (1.5 * 25) 0px;
	}
	@include sm {
		padding: (1.5 * 23) 0px;
	}

	// .contato {
	// 	margin-top: 30px;
	// }

	// mnv-grid.content {
	// 	flex-flow: row;
	// }

	.map {
		padding: 30px;
		width: 100%;
	}

	mnv-title > h5 {
		color: $mnv-text-light;
	}

	mnv-paragraph > * {
		//margin: 10px 0px;
	}

	i {
		&:first {
			margin-top: 40px;
		}
	}

	hr {
		width: 100%;
		color: rgba($mnv-color-white, 0.3);
	}
}
