.card-root {
	min-height: 500px;
	background-color: $mnv-color-white;
}

:host > * {
	min-width: 400px;
	position: relative;
	box-shadow: -5px 5px 10px -6px #999, 5px 5px 10px -6px #999;
	border-radius: 5px;
	overflow: hidden;

	@include xl {
		margin: calc(30px / 2);
	}

	@include lg {
		margin: calc(27px / 2);
	}

	@include md {
		margin: calc(25px / 2);
	}

	@include sm {
		margin: calc(23px / 2);
	}

	&:hover {
		div.action {
			mnv-button > button {
				background-color: $mnv-color-primary-light;
				border-color: $mnv-color-primary-light;
				font-family: 'Alegreya Sans SC';
				font-weight: 700;

				@include xl {
					height: 50px;
				}

				@include lg {
					height: 43px;
				}
			}
		}
	}

	div.header {
		padding: 30px 30px 0 30px;

		mnv-overline {
			@include xl {
				padding-bottom: 15px;
			}

			@include lg {
				padding-bottom: 13.5px;
			}

			@include md {
				padding-bottom: 12.5px;
			}

			@include sm {
				padding-bottom: 11.5px;
			}
		}

		mnv-title h5 {
			@include xl {
				padding-bottom: 15px;
			}

			@include lg {
				padding-bottom: 13.5px;
			}

			@include md {
				padding-bottom: 12.5px;
			}

			@include sm {
				padding-bottom: 5.75px;
			}
		}

		mnv-subtitle span {
			color: $mnv-text-dark-60;

			@include xl {
				padding-bottom: 15px;
			}

			@include lg {
				padding-bottom: 13.5px;
			}

			@include md {
				padding-bottom: 12.5px;
			}

			@include sm {
				padding-bottom: 5.75px;
			}
		}

		mnv-divider {
			@include xl {
				padding-bottom: 30px;
			}

			@include lg {
				padding-bottom: 27px;
			}

			@include md {
				padding-bottom: 25px;
			}

			@include sm {
				padding-bottom: 11.5px;
			}
		}
	}

	div.body {
		padding: 30px;

		@include xl {
			padding-bottom: 75px;
		}

		@include lg {
			padding-bottom: 67.5px;
		}

		@include md {
			padding-bottom: 62.5px;
		}

		@include sm {
			padding-bottom: 57.5px;
		}
	}

	div.action {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		background-color: $mnv-color-primary;
		z-index: -1;

		@include xl {
			height: 15px;
		}

		@include lg {
			height: 13.5px;
		}

		mnv-button > button {
			padding: 0;
			border-radius: 0;

			@include xl {
				content: '';
				position: absolute;
				z-index: 999;
				left: 0;
				right: 0;
				bottom: 0;
				height: 0;
				-webkit-transform-origin: 0% 100%;
				transform-origin: 0% 100%;
				-webkit-transition-property: height;
				transition-property: height;
				-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				font-size: 21px;
			}

			@include lg {
				content: '';
				position: absolute;
				z-index: -1;
				left: 0;
				right: 0;
				bottom: 0;
				height: 0;
				-webkit-transform-origin: 0% 100%;
				transform-origin: 0% 100%;
				-webkit-transition-property: transform;
				transition-property: height;
				-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				font-size: 19px;
			}

			@include md {
				height: 37.5px;
				font-size: 17px;
			}

			@include sm {
				height: 34.5px;
				font-size: 16px;
			}

			&:active {
				background-color: $mnv-color-primary-light;
				font-family: 'Alegreya Sans SC';
				font-weight: 700;

				@include xl {
					height: 45px;
					font-size: 21px;
				}

				@include lg {
					height: 40.5px;
					font-size: 19px;
				}

				@include md {
					height: 37.5px;
					font-size: 17px;
				}

				@include sm {
					height: 34.5px;
					font-size: 16px;
				}
			}
		}
	}
}
