:host {
	.image {
		// width: 100vw;
		height: 102vh;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		.body {
			// width: 100vw;
			height: 102vh;
			background-color: rgba($color: #000, $alpha: 0.7);
			mnv-title > * {
				color: $mnv-text-light;
			}
			h1.hero {
				@include xl {
					margin-top: 150px;
				}
				@include lg {
					margin-top: 98px;
				}
				@include md {
					margin-top: 123px;
				}
				@include sm {
					margin-top: 92.5px;
				}
			}

			mnv-button {
				margin-left: 0px !important;
			}

			mnv-grid.grid-container {
				@include xl {
					padding-top: calc(30px * 4);
				}

				@include lg {
					padding-top: calc(27px * 4);
				}

				@include md {
					padding-top: calc(25px * 4);
				}

				@include sm {
					padding-top: calc(23px * 2);
				}
			}
		}
	}
}
