@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Alegreya+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i|Playfair+Display:400i,700|Proza+Libre:600&display=swap');

/**
* Breakpoints
*/
$screen-sm-max: 750px;

$screen-md-min: 751px;
$screen-md-max: 1400px;

$screen-lg-min: 1401px;
$screen-lg-max: 1750px;

$screen-xl-min: 1751px;

/**
* Main palette
*/
$mnv-color-primary: rgba(0, 51, 153, 1);
$mnv-color-primary-light: rgba(90, 122, 255, 1);
$mnv-color-primary-dark: rgba(2, 34, 86, 1);
$mnv-color-bg-light: rgba(235, 243, 247, 1);
$mnv-color-black: rgba(0, 6, 40, 1);
$mnv-color-white: rgba(248, 252, 251, 1);

/**
* Text Palette
*/
$mnv-text-dark: rgba(0, 0, 0, .95);
$mnv-text-dark-60: rgba(0, 0, 0, .6);
$mnv-text-light: rgba(255, 255, 255, .95);
$mnv-text-light-60: rgba(255, 255, 255, .6);
$mnv-text-primary: rgba(0, 51, 119, 1);

/**
* Utilities Palette
*/
$mnv-color-confirm: rgba(0, 183, 74, 1);
$mnv-color-warning: rgba(221, 189, 0, 1);
$mnv-color-error: rgba(219, 0, 58, 1);

/**
* Utilities text Palette
*/
$mnv-text-confirm-dark: rgba(0, 0, 0, .95);
$mnv-text-confirm-light: rgba(0, 153, 65, .95);
$mnv-text-warning-dark: rgba(168, 136, 0, .95);
$mnv-text-warning-light: rgba(211, 170, 0, .95);
$mnv-text-error-dark: rgba(201, 0, 62, .95);
$mnv-text-error-light: rgba(244, 0, 58, .95);

/**
* Font Families
*/
$mnv-font-alegreya-sans: 'Alegreya Sans', sans-serif;
$mnv-font-alegreya-sans-sc: 'Alegreya Sans SC', sans-serif;
$mnv-font-playfair-display: 'Playfair Display', serif;
$mnv-font-proza-libre: 'Proza Libre', sans-serif;
$mnv-font-body: 'PT Serif', serif;

/**
* Font Weights & Styles
*/
$mnv-font-bold: 700;
$mnv-font-semibold: 600;
$mnv-font-emphasis: italic;
$mnv-font-highlight: lighten($mnv-color-primary-light, 15%);