.root {
	width: 100%;
	/* 	@include md {
		padding-top: 30px;
	}
	@include sm {
		padding-top: 30px;
	} */
}

.base {
	background-color: $mnv-color-white;
	height: 100%;
}

.text-block {
	padding: 90px 285px 90px 285px;
}
