header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 999;
	width: 100%;
	position: fixed;
	background-color: $mnv-color-black;
	box-shadow: 0 3px 5px rgba($mnv-color-black, 0.3),
		0 3px 5px rgba($mnv-color-primary-dark, 0);
	transition: height $mnv-transition-cubic-03;
}

.links {
	margin-left: auto;
}

.link-brand {
}

.slideDown {
	height: 150px;
	background: linear-gradient(
		rgba($mnv-color-black, 0.7),
		rgba($mnv-color-black, 0)
	);
	box-shadow: 0 3px 5px rgba($mnv-color-black, 0);
}

.slideUp {
	height: 120px;
	background: $mnv-color-primary;
	box-shadow: 0 3px 5px rgba($mnv-color-black, 0.3);
}
