.menuroot {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	display: flex;
	width: 100%;
	color: $mnv-color-white;
	background-blend-mode: multiply;
	flex-direction: row;
	justify-content: space-between;
	height: 150px;
	background: linear-gradient(rgba($mnv-color-black, 0.7), transparent);
	box-shadow: 0 3px 5px rgba($mnv-color-black, 0);
	transition: all $mnv-transition-cubic-03;
	@include xl {
		visibility: hidden;
	}
	@include lg {
		visibility: hidden;
	}
}
.logo {
	margin: 0 auto;
}

.menuitem {
	font-family: $mnv-font-alegreya-sans-sc;
	text-transform: lowercase;
	font-size: 26px;
	color: $mnv-color-primary;
}

img.link-brand {
	position: fixed;
	top: 0;
	left: 0;
	transition: height $mnv-transition-cubic-03;
	@include md {
		height: 66px;
		padding: calc(23px - 9px);
	}
	@include sm {
		height: 66px;
		padding: calc(23px - 9px);
	}
}

.slideDown {
	height: 150px;
	background: linear-gradient(rgba($mnv-color-black, 0.7), transparent);
	box-shadow: 0 3px 5px rgba($mnv-color-black, 0);
}

.slideUp {
	height: 69px;
	padding-top: 0px;
	background: $mnv-color-primary;
	box-shadow: 0 3px 5px rgba($mnv-color-black, 0.3);
	img.link-brand {
		@include md {
			height: 66px;
			padding: 3px 16px 3px 16px;
		}
		@include sm {
			height: 66px;
			padding: 3px 16px 3px 16px;
		}
	}
}
