h1,
h2,
h3,
h4,
h5,
h6 {
	color: $mnv-text-dark;
	&.overline {
		margin-top: 15px;
	}
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

h1 {
	font-family: $mnv-font-playfair-display;
	font-weight: 700;
	&.h1sans {
		font-family: $mnv-font-proza-libre;
		font-weight: 600;
	}
	@include xl {
		font-size: 47px;
		line-height: 75px;
		letter-spacing: 0.5px;
		&.hero {
			font-size: 63px;
			line-height: 90px;
			letter-spacing: 1px;
		}
	}
	@include lg {
		font-size: 43px;
		line-height: 67.5px;
		letter-spacing: 0.5px;
		&.hero {
			font-size: 76px;
			line-height: 81px;
			letter-spacing: 1px;
		}
	}
	@include md {
		font-size: 38px;
		line-height: 50px;
		letter-spacing: 0.5px;
		&.hero {
			font-size: 67px;
			line-height: 72px;
			letter-spacing: 1px;
		}
	}
	@include sm {
		font-size: 35px;
		line-height: 46px;
		letter-spacing: 0px;
		&.hero {
			font-size: 40px;
			line-height: 46px;
			letter-spacing: 0px;
		}
	}
}

h2 {
	font-family: $mnv-font-alegreya-sans;
	font-weight: 400;
	@include xl {
		font-size: 47px;
		line-height: 60px;
		letter-spacing: 0px;
	}
	@include lg {
		font-size: 43px;
		line-height: 54px;
		letter-spacing: 0px;
	}
	@include md {
		font-size: 43px;
		line-height: 37.5px;
		letter-spacing: 0px;
	}
	@include sm {
		font-size: 35px;
		line-height: 34.5px;
		letter-spacing: 0px;
	}
}

h3 {
	font-family: $mnv-font-alegreya-sans;
	font-weight: 700;
	@include xl {
		font-size: 35px;
		line-height: 45px;
		letter-spacing: 1px;
	}
	@include lg {
		font-size: 32px;
		line-height: 40.5px;
		letter-spacing: 1px;
	}
	@include md {
		font-size: 28px;
		line-height: 36px;
		letter-spacing: 0.8px;
	}
	@include sm {
		font-size: 26px;
		line-height: 34.5px;
		letter-spacing: 0.7px;
	}
}

h4 {
	font-family: $mnv-font-alegreya-sans;
	font-weight: 400;
	@include xl {
		font-size: 35px;
		line-height: 45px;
		letter-spacing: 0px;
	}
	@include lg {
		font-size: 32px;
		line-height: 40.5px;
		letter-spacing: 0px;
	}
	@include md {
		font-size: 28px;
		line-height: 36px;
		letter-spacing: 0px;
	}
	@include sm {
		font-size: 26px;
		line-height: 34.5px;
		letter-spacing: 0px;
	}
}

h5 {
	font-family: $mnv-font-alegreya-sans;
	font-weight: 700;
	@include xl {
		font-size: 27px;
		line-height: 30px;
		letter-spacing: 0.5px;
	}
	@include lg {
		font-size: 24px;
		line-height: 27px;
		letter-spacing: 0.5px;
	}
	@include md {
		font-size: 21px;
		line-height: 25px;
		letter-spacing: 0.4px;
	}
	@include sm {
		font-size: 19px;
		line-height: 23px;
		letter-spacing: 0.3px;
	}
}

h6 {
	font-family: $mnv-font-alegreya-sans;
	font-weight: 40;
	@include xl {
		font-size: 27px;
		line-height: 30px;
		letter-spacing: 0px;
	}
	@include lg {
		font-size: 24px;
		line-height: 27px;
		letter-spacing: 0px;
	}
	@include md {
		font-size: 21px;
		line-height: 25px;
		letter-spacing: 0px;
	}
	@include sm {
		font-size: 19px;
		line-height: 23px;
		letter-spacing: 0px;
	}
}
