:host * {
	font-family: $mnv-font-alegreya-sans;
	&.capitular::first-letter {
		font-family: $mnv-font-playfair-display;
		float: left;
		@include xl {
			font-size: 90px;
			line-height: 54px;
			margin: -12px 7.5px 7.5px 0;
		}
		@include lg {
			font-size: 81px;
			line-height: 48px;
			margin: -10.2px 6.5px 6.5px 0;
		}
		@include md {
			font-size: 75px;
			line-height: 44px;
			margin: -9.3px 6px 6px 0;
		}
		@include sm {
			font-size: 69px;
			line-height: 40px;
			margin: -8.5px 5.5px 5.5px 0;
		}
	}
}

.bodyone {
	@include xl {
		font-size: 21px;
		line-height: 30px;
		letter-spacing: 0.6px;
	}
	@include lg {
		font-size: 19px;
		line-height: 27px;
		letter-spacing: 0.5px;
	}
	@include md {
		font-size: 17px;
		line-height: 25px;
		letter-spacing: 0.4px;
	}
	@include sm {
		font-size: 16px;
		line-height: 23px;
		letter-spacing: 0px;
	}
}
.bodytwo {
	@include xl {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.5px;
	}
	@include lg {
		font-size: 18px;
		line-height: 27px;
		letter-spacing: 0.4px;
	}
	@include md {
		font-size: 16px;
		line-height: 25px;
		letter-spacing: 0.3px;
	}
	@include sm {
		font-size: 15px;
		line-height: 23px;
		letter-spacing: 0px;
	}
}
