$tooltip-bg:            $mnv-color-primary-light !default;
$tooltip-move:          4px !default;
$tooltip-text-color:     $mnv-text-dark !default;

@mixin base-effects () {
  opacity: 0;
  pointer-events: none;
  transition: all .18s ease-out .18s;
}

@mixin no-effects () {
  transition: none;
}

@mixin normalized-text() {
  text-indent: 0;
  font-family: $mnv-font-body;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
}

:host {
  --tooltip-color: #{$tooltip-bg};
  --tooltip-move: #{$tooltip-move};
  --tooltip-text-color: #{$tooltip-text-color};
}

button[aria-label] {
    overflow: visible;
}

[aria-label] {
    position: relative;
    cursor: pointer;
    &:after {
      @include base-effects();
      @include normalized-text();

      background: var(--tooltip-color);
      border-radius: 2px;
      color: var(--text-color);
      content: attr(aria-label);
      padding: .5em 1em;
      position: absolute;
      white-space: nowrap;
      z-index: 10;
    }

    &:before {
      @include base-effects();
      content: "";
      position: absolute;
      z-index: 10;
    }

    &:after {
        left: 50%;
        margin-top: 5px;;
        top: 100%;
        transform: translate(-50%, calc(var(--tooltip-move) * -1));
    }

    &:before {

        left: 50%;
        top: 100%;
        transform: translate(-50%, calc(var(--tooltip-move) * -1));
    }

    &:hover, &[data-tooltip-visible] {
        &:after {
        transform: translate(-50%, 0);
        }

        &:before {
        transform: translate(-50%, 0);
        }
    }

    &:hover, &[data-tooltip-visible], &:not([data-tooltip-nofocus]):focus {
      &:before,
      &:after {
        opacity: 1;      
        pointer-events: none;
      }
    }

    &[data-tooltip-break] {
      &:after {
        white-space: pre;
      }

      &[data-tooltip-length] {
        &:after {
          white-space: pre-line;
          word-break: break-word;
        }
      }
    }


    &[data-tooltip-length="medium"] {
      &:after {
        white-space: normal;
        width: 150px;
      }
    }

    &[data-tooltip-length="large"] {
      &:after {
        white-space: normal;
        width: 260px;
      }
    }

    &[data-tooltip-length="xlarge"] {
      &:after {
        white-space: normal;
        width: 380px;

        @media screen and (max-width: 768px) {
          white-space: normal;
          width: 90vw;
        }
      }
    }

    &[data-tooltip-length="fit"] {
      &:after {
        white-space: normal;
        width: 100%;
      }
    }
}
