:host {
	--project-img: '';
}

.text-block {
	@include xl {
		padding: 90px 285px 90px 285px;
	}
	@include lg {
		padding: 54px 208px 54px 208px;
	}
	@include md {
		padding: 50px;
	}
	@include sm {
		padding: 23px;
	}
}

.project-img-main {
	background: var(--project-img) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	@include xl {
		height: 780px;
	}
	@include lg {
		height: 657px;
	}
	@include md {
		height: 375px;
	}
	@include sm {
		height: 210px;
	}
}

.legenda {
	font-family: $mnv-font-alegreya-sans;
	color: $mnv-text-dark-60;
	@include xl {
		display: flex;
		height: 0px;
		justify-content: flex-end;
		font-size: 22px;
		line-height: 30px;
		letter-spacing: 0.37px;
	}
	@include lg {
		display: flex;
		height: 0px;
		justify-content: flex-end;
		font-size: 20px;
		line-height: 27px;
		letter-spacing: 0.33px;
	}
	div {
		@include xl {
			-webkit-transform-origin: right top;
			transform-origin: right top;
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
			margin-right: 68px;
			margin-top: 45px;
		}
		@include lg {
			-webkit-transform-origin: right top;
			transform-origin: right top;
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
			margin-right: 47px;
			margin-top: 27px;
		}
		@include md {
			display: none;
		}
		@include sm {
			display: none;
		}
	}
}
.legenda-mobile {
	font-family: $mnv-font-alegreya-sans;
	color: $mnv-text-dark-60;
	@include xl {
		display: none;
	}
	@include lg {
		display: none;
	}
	@include md {
		font-size: 18px;
		line-height: 25px;
		letter-spacing: 0.3px;
		margin-bottom: 12.5px;
	}
	@include sm {
		font-size: 17px;
		line-height: 23px;
		letter-spacing: 0.28px;
		margin-bottom: 13.5px;
	}
}
