:host > * {
	font-family: $mnv-font-alegreya-sans-sc;
	color: rgba(0, 51, 119, 100);
	letter-spacing: 0;
	@include xl {
		font-size: 23px;
		line-height: 27px;
	}
	@include lg {
		font-size: 21px;
		line-height: 27px;
	}
	@include md {
		font-size: 19px;
		line-height: 24px;
	}
	@include sm {
		font-size: 18px;
		line-height: 23px;
	}
}
