:host * {
	&.outline {
		border: 2px solid $mnv-color-primary;
	}
	&.contained {
		background-color: $mnv-color-primary;
		color: $mnv-color-white;
		text-align: center;
		align-items: flex-start;
		cursor: pointer;
		min-width: 90px;
		font-weight: 700;
		letter-spacing: 1px;
		font-family: $mnv-font-alegreya-sans-sc;
		border-radius: 3px;
		padding: 15px;
		margin: 15px;
		font-size: 21px;
		border: 2px solid $mnv-color-primary;
	}
}
