button {
	cursor: pointer;
	color: $mnv-color-primary;
	text-transform: lowercase;
	background-color: rgba(0,0,0,0);
	font-family: $mnv-font-alegreya-sans-sc;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 3px;
	border: none;
	vertical-align: middle;
	transition: color $mnv-transition-cubic-03;
	&:hover,
	&:focus,
	&:active {
		outline: none;
		color: $mnv-color-primary-light;
	}
	&:disabled, &:disabled > *, &:disabled:hover, &:disabled:active {
		cursor: default;
		color: rgba($mnv-text-dark, .4);
	}
	@include xl {
		min-width: 90px;
		padding: 15px;
		margin: 15px;
		font-size: 21px;
	}
	@include lg {
		min-width: 81px;
		padding: 13.5px;
		margin: 13.5px;
		font-size: 19px;
	}
	@include md {
		min-width: 75px;
		padding: 12.5px;
		margin: 12.5px;
		font-size: 17px;
	}
	@include sm {
		min-width: 69px;
		padding: 11.5px;
		margin: 11.5px;
		font-size: 16px;
	}
	&.outlined {
		position: relative;
		background-color: rgba(0,0,0,0);
		border: 2px solid $mnv-color-primary-light;
		transition: transform $mnv-transition-cubic-03;
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		position: relative;
		&:disabled, &:disabled > *, &:disabled:hover, &:disabled:active {
			cursor: default;
			color: rgba($mnv-color-primary-light, 0.5);
			border-color: rgba($mnv-color-primary-light, 0.5);
			&:before {
				transform: scaleX(0);
			}
		}
		&:hover,
		&:focus,
		&:active {
			outline: none;
			color: white;
			&:before {
				transform: scaleX(1);
			}
		}
		&:before {
			content:"";
			transition: all $mnv-transition-cubic-03;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0px;
			right: 0;
			bottom: 0;
			background: $mnv-color-primary-light;
			transform: scaleX(0);
			transform-origin: 0 50%;
		}
	}
	&.contained {
		background-color: $mnv-color-primary;
		color: $mnv-text-light;
		border: 2px solid $mnv-color-primary;
		box-shadow: 0 3px 5px rgba($mnv-color-black, 0.3), 0 3px 5px rgba($mnv-color-primary-dark, 0.3);
		transition: box-shadow $mnv-transition-cubic-03;
		&:disabled, &:disabled > *, &:disabled:hover, &:disabled:active {
			cursor: default;
			color: rgba($mnv-text-light, 0.4);
			background-color: $mnv-color-primary-dark;
			border-color: $mnv-color-primary-dark;
			box-shadow: 0 0px 0px rgba($mnv-color-black, 0.3), 0 0px 0px rgba($mnv-color-primary-dark, 0.3);
		}
		&:hover {
			box-shadow: 0 10px 20px rgba($mnv-color-black, 0.3), 0 6px 6px rgba($mnv-color-primary-dark, 0.3);
		}
		&:focus {
			outline: none;
			background-color: $mnv-color-primary-light;
			border-color: $mnv-color-primary-light;
		}
		&:active {
			background-color: $mnv-color-primary-light;
			border-color: $mnv-color-primary-light;
			box-shadow: 0 15px 30px rgba($mnv-color-black, 0.3), 0 11px 15px rgba($mnv-color-primary-dark, 0.3);
		}
	}
}
