button {
	cursor: pointer;
	text-transform: lowercase;
	background-color: rgba(0,0,0,0);
	font-family: $mnv-font-alegreya-sans-sc;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 3px;
	border: none;
	vertical-align: middle;
	@include xl {
		min-width: 90px;
		padding: 15px;
		margin: 15px;
		font-size: 21px;
	}
	@include lg {
		min-width: 81px;
		padding: 13.5px;
		margin: 13.5px;
		font-size: 19px;
	}
	@include md {
		min-width: 75px;
		padding: 12.5px;
		margin: 12.5px;
		font-size: 17px;
	}
	@include sm {
		min-width: 69px;
		padding: 11.5px;
		margin: 11.5px;
		font-size: 16px;
	}
	&.outlined {
		background-color: rgba(0,0,0,0);
		border: 2px solid $mnv-color-primary;
	}
	&.contained {
		background-color: $mnv-color-primary;
		color: $mnv-text-light;
		border: 2px solid $mnv-color-primary;
		box-shadow: 0 3px 5px rgba($mnv-color-black, 0.3), 0 3px 5px rgba($mnv-color-primary-dark, 0.3);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		&:disabled, &:disabled > *, &:disabled:hover, &:disabled:active {
			cursor: default;
			color: rgba($mnv-text-light, 0.4);
			background-color: $mnv-color-primary-dark;
			border-color: $mnv-color-primary-dark;
			box-shadow: 0 0px 0px rgba($mnv-color-black, 0.3), 0 0px 0px rgba($mnv-color-primary-dark, 0.3);
		}
		&:hover {
			box-shadow: 0 10px 20px rgba($mnv-color-black, 0.3), 0 6px 6px rgba($mnv-color-primary-dark, 0.3);
		}
		&:focus {
			outline: none;
			background-color: $mnv-color-primary-light;
			border-color: $mnv-color-primary-light;
		}
		&:active {
			background-color: $mnv-color-primary-light;
			border-color: $mnv-color-primary-light;
			box-shadow: 0 15px 30px rgba($mnv-color-black, 0.3), 0 11px 15px rgba($mnv-color-primary-dark, 0.3);
		}
	}
}
