:host {
	--set-height: 0;
}

.drawer {
	position: fixed;
	top: 0;
	left: 0;
	height: var(--set-height, 0);
	width: 100vw;
	background: $mnv-color-bg-light;
	color: $mnv-text-dark;
	transition: height 0.3s ease;
	z-index: 2;
}
.menulist {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
