header {
	background-blend-mode: multiply;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	z-index: 9999;
	position: fixed;
	height: 150px;
	background: linear-gradient(rgba($mnv-color-black, 0.7), transparent);
	box-shadow: 0 3px 5px rgba($mnv-color-black, 0);
	transition: height, padding-top $mnv-transition-cubic-03;
	@include xl {
		padding: 39.5px 92px 0 92px;
		width: calc(100% - 184px);
	}
	@include lg {
		padding: 34.5px 80px 0 80px;
		width: calc(100% - 160px);
	}
	@include md {
		visibility: hidden;
	}
	@include sm {
		visibility: hidden;
	}
}

.links {
	margin-left: auto;
}

.link-brand {
	transition: height $mnv-transition-cubic-03;
	@include xl {
		height: 140px;
		padding: 19.5px;
	}
	@include lg {
		height: 128px;
		padding: 17.5px;
	}
	@include md {
		padding: 16.5px;
	}
	@include sm {
		padding: 15px;
	}
}

.slideDown {
	height: 150px;
	background: linear-gradient(rgba($mnv-color-black, 0.7), transparent);
	box-shadow: 0 3px 5px rgba($mnv-color-black, 0);
}

.slideUp {
	height: 90px;
	padding-top: 0px;
	background: $mnv-color-primary;
	box-shadow: 0 3px 5px rgba($mnv-color-black, 0.3);
	img.link-brand {
		@include xl {
			height: 60px;
			padding-left: 21px;
		}
		@include lg {
			padding: 17.5px;
		}
		@include md {
			padding: 16.5px;
		}
		@include sm {
			padding: 15px;
		}
	}
}
