.slider-root {
	display: flex;
}

.slider {
	position: relative;
	display: inline-flex;
	margin: 0 auto;
	overflow: hidden;
}

.slider-wrapper {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
}

.arrow-root {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	margin: -15px;
	&::before {
		position: absolute;
		content: '';
		left: 0px;
		height: 300px;
		width: 600px;
		background-color: $mnv-color-primary;
	}
}

.arrow {
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	user-select: none;
	transition: transform $mnv-transition-cubic-03;
}

.nextArrow {
	z-index: 999;
	color: #000;
	margin: 0 15px 35px 15px;
}

.backArrow {
	z-index: 999;
	color: #000;
	margin: 0 15px 15px 15px;
}
