:host > * {
  text-decoration-color: rgba (90, 122, 255, 100);

  &:visited {
    color:  rgba (0,0,0,60);
    text-decoration: underline;
    text-decoration-color: rgba (90, 122, 255, 100);
  }

  &:hover {
    color: rgba (0, 51, 153, 100);
    text-decoration: underline;
    text-decoration-color: rgba (90, 122, 255, 100);
  }

  &:active {
    color:  rgba (0, 51, 153, 100);
    text-decoration: underline;
    text-decoration-color: rgba (90, 122, 255, 100);
  }

}
