a {
    color: inherit;
    text-decoration: underline $mnv-color-primary-light;
    &:hover, &:active {
        color: $mnv-color-primary-light;
    }
    &:visited {
        color: lighten($mnv-text-dark, 50%);
        &:hover, &:active {
            color: $mnv-color-primary-light;
        }
    }
}
