:host > * {
	font-family: 'Alegreya Sans';
	.one {
		font-weight: 700;
		@include xl {
			font-size: 23px;
			line-height: 30px;
			letter-spacing: 0.3px;
		}
		@include lg {
			font-size: 21px;
			line-height: 27px;
			letter-spacing: 0.3px;
		}
		@include md {
			font-size: 19px;
			line-height: 25px;
			letter-spacing: 0.3px;
		}
		@include sm {
			font-size: 18px;
			line-height: 23px;
			letter-spacing: 0.2px;
		}
	}
	.two {
		font-weight: 500;
		@include xl {
			font-size: 23px;
			line-height: 30px;
			letter-spacing: 0.3px;
		}
		@include lg {
			font-size: 21px;
			line-height: 27px;
			letter-spacing: 0.3px;
		}
		@include md {
			font-size: 19px;
			line-height: 25px;
			letter-spacing: 0.3px;
		}
		@include sm {
			font-size: 18px;
			line-height: 23px;
			letter-spacing: 0.2px;
		}
	}
}
