:host > * {

    @include xl {
        padding-left: calc(285px * 1.3) !important;
        padding-right: calc(285px * 1.3) !important;
    }
    @include lg {
        padding-left: calc(209px * 1.27) !important;
        padding-right: calc(209px * 1.27) !important;
    }

    mnv-grid.grid-item {
        justify-content: center;
    }

    mnv-card {
        flex: 1;
    }
}
