:host {
	--main-background: '';
}

.root {
	width: 100%;
}

.base {
	background-color: $mnv-color-white;
	height: 100%;
	border-radius: 3px;
}

.text-block {
	@include xl {
		padding: 90px 285px 90px 285px;
	}
	@include lg {
		padding: 54px 208px 54px 208px;
	}
	@include md {
		padding: 50px;
	}
	@include sm {
		padding: 23px;
	}
}

.header {
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
		var(--main-background) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	h1,
	h3,
	h4 {
		color: white !important;
	}
	h1 {
		@include md {
		padding-top:45px;
		}
		@include sm {
			padding-top: 45px;
		}
	}
	@include xl {
		height: 840px;
		margin-bottom: -330px;
		padding: 0px 285px 0px 285px;
	}
	@include lg {
		height: 702px;
		margin-bottom: -297px;
		padding: 0px 208px 0px 208px;
	}
	@include md {
		height: 550px;
		margin-bottom: -250px;
		padding: 0px 50px 0px 50px;
	}
	@include sm {
		height: 506px;
		margin-bottom: -205px;
		padding: 16px 23px 0px 23px;
	}
}
